<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>E0F6D528-58DA-4EFD-8487-39C2DA4DE1B2</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>snippets</string>
			<key>text</key>
			<string>SnippetsLab {query}</string>
			<key>url</key>
			<string>snippetslab://search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
